.navbar {
    margin-bottom: 40px;
}

.image {
    position: relative;
    overflow: hidden;
    height: 300px;
}
a {
    text-decoration: none;
}
.card-header {
    padding: 0;
}
.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0;
}
.username-text {
    font-weight: bold;
}
.photo-container {
    margin: 0 300px 0 300px;
}