{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-6 col-xl-4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4" style="height: 200px">
                    <img src="{{ photo.image.url }}" class="img-fluid rounded-start" alt="product_image"
                         style="height: 90%">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ photo.title }}</h5>
                        <p class="card-text">Author: {{ photo.author }}</p>
                    </div>
                    {% if perms.gallery.change_photo or request.user == photo.author %}
                        <a href="{% url 'gallery:photo_edit' photo.pk %}" class="btn btn-primary">Edit</a>
                    {% endif %}
                    {% if perms.gallery.delete_photo or request.user == photo.author %}
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete
                        </button>
                        {% include 'partial/photo/delete_photo_modal.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}